contracts/combined.json
contracts/node_modules
contracts/deployments
docker/data*
play/work
rolling-shutter/bin/rolling-shutter
rolling-shutter/bin/shutter-crypto.wasm
tools/snapshot/dummyserver/dist
