x-keyper-base: &keyper_base
  image: rolling-shutter
  entrypoint:
    - /rolling-shutter
  command:
    - {{ keyper_command }}
    - --config
    - /config.toml

services:
    {%- for i in range(num_keypers|int) %}
    keyper-{{ i }}:
        <<: *keyper_base
        depends_on:
          bootnode:
            condition: service_started
        volumes:
        - ../${DATA_DIR}/keyper-{{ i }}.toml:/config.toml
    {%- if not loop.last %}
    {% endif %}
    {%- endfor %}
