version: 2.1

commands:
  install-asdf:
    steps:
      - run:
          name: Install asdf
          command: |
            if [[ -e ~/.asdf ]]; then
              echo "asdf already installed"
            else
              git clone --depth 1 https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.9.0
            fi
            echo >${BASH_ENV} 'source ~/.asdf/asdf.sh'

orbs:
  node: circleci/node@4.7

executors:
  system-tests:
    docker:
      - image: cimg/openjdk:17.0.5-node
        environment:
          PGHOST: localhost
          PGUSER: circleci
          PLAY_DB_PASSWORD: xxx
          NODE_OPTIONS: "--openssl-legacy-provider"

      - image: cimg/postgres:13.9
        environment:
          POSTGRES_USER: circleci
          POSTGRES_PASSWORD: xxx
          POSTGRES_DB: testdb
  py:
    docker:
      - image: cimg/python:3.11.1-node@sha256:fac71c651914675c788807a3024d3730d897d3c898c47fa207268082fcba41c8
        environment:
          PIP_DISABLE_PIP_VERSION_CHECK: "1"
  node18:
    docker:
      - image: cimg/node:18.17.0

  go:
    docker:
      - image: cimg/go:1.21.1
        environment:
          GO111MODULE: "on"
          PIP_DISABLE_PIP_VERSION_CHECK: "1"
  go-integration:
    docker:
      - image: cimg/go:1.21.1
        environment:
          GO111MODULE: "on"
          PIP_DISABLE_PIP_VERSION_CHECK: "1"
          ROLLING_SHUTTER_TESTDB_URL: postgres://pguser:password@localhost:5432/testdb
      - image: cimg/postgres:13.9
        environment:
          POSTGRES_USER: pguser
          POSTGRES_PASSWORD: password
          POSTGRES_DB: testdb

jobs:
  pre-commit:
    executor: py
    working_directory: ~/src
    steps:
      - checkout
      - run:
          name: Prepare system
          command: |
            cp .circleci/.nodeenvrc ~
            cp .tool-versions ~
      - install-asdf
      - run:
          name: Install pre-commit with asdf
          command: |
            asdf plugin add golang
            asdf install golang
            asdf plugin add pre-commit
            asdf install pre-commit
      - restore_cache:
          keys:
            - go-mod-v7-{{ checksum "rolling-shutter/go.sum" }}-{{ checksum "rolling-shutter/go.mod" }}
      - restore_cache:
          key: pre-commit-cache-v11-{{ checksum ".pre-commit-config.yaml" }}
      - run: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-v11-{{ checksum ".pre-commit-config.yaml" }}
          paths:
            - ~/.cache/pre-commit
            - ~/.local
      - run: SKIP=generate pre-commit run --show-diff-on-failure -a

workflows:
  version: 2
  pre-commit:
    jobs:
      - pre-commit
